/* Header styles */
header {
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;    
  }
  
  /* Logo styles */
  .logo {
    margin-left: 20px;  
    width: 1000px; /* Set the width of the logo container */
    height: 500px; /* Set the height of the logo container */
    background-image: url('images/logo.png'); /* Replace 'path/to/your/image.png' with the actual path to your image */
    background-size: contain; /* Adjust the image size */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center; /* Center the image within the container */
  }
  